@model Libby.ViewModels.RandomBookViewModel
@{
    ViewBag.Title = "BlindDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blind Date With a Book</h2>
<br />
<p>You got @Model.Book.Name</p>
